.cell {
  width: 40px;
  height: 40px;
  border: 1px solid #aaa;
  background: #eee;
  color: darkred;
  line-height: 1.5;
  margin: 1px;
  text-align: center;
  font-size: 25px;
  font-weight: 900;
  font-family: Consolas, monospace;
  user-select: none;

  &:not(.opened, .flagged):hover {
    background: #ddd;
  }

  &:not(.opened, .flagged):active {
    background: #ccc;
  }

  &::before {
    position: relative;
    top: 2px;
    left: 1px;
  }
}

.opened {
  background: #fafafa;
  border-color: #ccc;
}

.flagged:not(.opened)::before {
  content: '🚩';
}

.isBomb.opened::before {
  content: '💣';
}
