.panel {
  font-size: 1.5em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input {
  width: 1.5em;
  border: none;
  outline: none;
  border-bottom: 2px solid blue;
  margin: 0 5px;
  font-family: inherit;
  font-size: inherit;
}

.timer {
  margin: 10px 0;
}

.btn {
  background: rgb(71, 218, 255);
  border: none;
  padding: 5px 10px;
  font-size: 0.8em;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 10px;

  &:hover {
    outline: 1px solid #000;
  }

  &:active {
    transform: translateY(2px);
  }
}
